<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Let's Google Play Services download the scanner library. -->
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="barcode_ui"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_kaltracker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_kaltracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.KalTracker"
        tools:targetApi="31">
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KalTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ivoxavier.kaltracker.view.UserProfileConfigActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.HomeActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.MenuActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.ManageDataActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.QuickListFoodsActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.QuickAdditionActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.OnlineSourcesActivity"
            android:theme="@style/Theme.KalTracker"/>
        <activity android:name="com.ivoxavier.kaltracker.view.IngestionConfigActivity"
            android:theme="@style/Theme.KalTracker"/>

    </application>


</manifest>